.title {
  color: #01996D;
  font-weight: 700;
  font-size: 65px;

  &_step {
    font-size: 50px;
    width: 45%;
  }

  &_video {
    font-size: 50px;
    color: #FFFFFF;
    margin-bottom: 33px;
  }
}